*{
    margin: 0;
    scroll-padding-top: 6rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    gap: 6rem;
}

body{
    margin: 0;
    background:rgb(207, 233, 167);
}

h1{
    padding: 2rem;
    background: rgb(59, 59, 220);
    color: white;
}

a{
    color: white;
}

label{
    color: white;
}

button{
    color: white;
    background: rgb(59, 59, 220);
    
}

.formu{
    text-align: center;
}

form{
    text-align: center;
}
.home{
    text-align: center;
}
.a{
    text-align: center;
    direction: none;
}

.a a{
    text-decoration: none;
    color: white;
    background: rgb(59, 59, 220);
}
input{
    border-radius: 2rem;
    border: none;
    outline: none;
}